.block_ejsapp_file_browser .content table {
    table-layout: auto;
    width: 100%;
}

.block_ejsapp_file_browser #sharefiles {
    margin-bottom: 2px;
    margin-top: 2px;
}

.block_ejsapp_file_browser .btn-secondary {
    border-radius: 5px;
    background-color: transparent;
    color: black!important;
    padding: 5px;
    margin: 0.2em 0.1em 0.2em 0.1em;
    box-shadow: none;
    border: 1px solid lightgrey;
}

.block_ejsapp_file_browser .btn-secondary:hover,
.block_ejsapp_file_browser .show_button:hover,
.block_ejsapp_file_browser .hide_button:hover,
.block_ejsapp_file_browser .recording_button:hover,
.block_ejsapp_file_browser .blockly_button:hover {
    color: white!important;
    background-color: #009aca;
}

.block_ejsapp_file_browser .managefiles {
    margin-top: 10px;
    text-align: center;
}

.block_ejsapp_file_browser .captureInteraction,
.block_ejsapp_file_browser .optionsBut,
.block_ejsapp_file_browser .blocklyFiles {
    text-align: center;
    margin: auto;
}

.block_ejsapp_file_browser .show_button,
.block_ejsapp_file_browser .hide_button,
.block_ejsapp_file_browser .recording_button,
.block_ejsapp_file_browser .blockly_button {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
    background-color: transparent;
    padding: 5px;
    box-shadow: none;
    border: 1px solid lightgrey;
    text-transform: none;
}

.block_ejsapp_file_browser .recordCapture {
    margin-top: 5px;
    text-transform: none;
}

.block_ejsapp_file_browser .playCapture {
    margin-top: 3px;
    text-transform: none;
}

.block_ejsapp_file_browser .velocity {
    margin-left: 5px;
}

.block_ejsapp_file_browser .stepCapture {
    -webkit-appearance: none;
    background: dodgerblue;
    margin-left: 2px;
    height: 7px;
    width: 45%;
}

.block_ejsapp_file_browser .stepCapture::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: black;
    height: 10px;
    width: 10px;
}