/* Rule so that the table tree view works with word-wrap: break-word. */
.block_ejsapp_file_browser .content table {
    table-layout: fixed;
    width: 100%;
}

.block_ejsapp_file_browser .singlebutton{
    text-align: center;
}

.block_ejsapp_file_browser .captureInteraction{
    text-align: center;
}

.block_ejsapp_file_browser .optionsBut{
    text-align: center;
}

.block_ejsapp_file_browser .playCapture .recordCapture{
    margin-top:5px;
}

.block_ejsapp_file_browser .velocity{
    margin-left:5px;
}

.block_ejsapp_file_browser .stepCapture {
    -webkit-appearance: none !important;
    background:dodgerblue;
    margin-left:2px;
    height:7px;
    width:45%;
}

.block_ejsapp_file_browser .stepCapture::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:black;
    height:10px;
    width:10px;
}